@charset "utf-8";

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{width:100%;display:flex;}
#wrap{width:100%;position:relative;}
#left_nav{width:70px;height:100%; background-color: #fff;position:fixed;z-index:10;box-shadow:0px 0px 5px #444;}
#left_nav ul{width:70px;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:space-evenly;font-family: 'HakgyoansimWoojuR';font-size:17px;}
#left_nav ul li:nth-last-of-type(18){border-bottom:2px solid;padding:8px;font-weight:bold;}
#left_nav ul a:hover{font-weight:bold;}


header{width:100%;height:125px;position:fixed;z-index:5;}
header .contents{width:1500px;height:125px;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
header .contents img{width:250px;height:55px;}
header .contents .nav{width:800px;}
header .contents .nav>ul{width:1000px;display:flex;justify-content:space-around;align-items:center}
header .contents .nav>ul>li{font-family: 'HakgyoansimWoojuR';font-weight:bold;font-size:25px;position:relative;}
header .contents .nav ul li ul{width:1200px; position:absolute;opacity:0;transition:0.3s 0.2s;display:flex;}
header .contents .nav>ul>li>ul>li{width:120px;height:120px;text-align:center; padding:50px 0px; border:1px solid #e6e6e6;border-radius:15px; white-space:nowrap;margin:40px 20px 0 0;font-size:18px;font-weight: lighter;}
header .contents .nav>ul>li>ul>li:hover{background-color:#05057d;}
header.active{background-color:#fff;}



section{width:100%;height:1100px;}
.section_content_box_1{width:100%;height:1100px;background-image:url("../img/1_1.jpg");background-size:cover;background-position:center;}
.section_content_box_2{width:100%;height:1100px;background-image:url("../img/2_1.jpg");background-size:cover;background-position:center;display:none;}


section .contents{width:1900px;height:1100px;margin:0 auto;display:flex;justify-content:center;align-items:center;}

section .explain_box{margin:60px;}
section .explain_box h1{font-size:80px;}
section .content_img{width:600px;height:600px;border-radius:70%;overflow:hidden;}
section .content_img img {width:600px;height:600px; object-fit: cover;}


section .back img{width:20px;height:35px;position:absolute;top:500px;z-index:3;left:90px;}
section .next img{width:20px;height:35px;position:absolute;top:500px;right:60px;z-index:3;}


#article{width:100%;height:1100px;background-color:#FFF9EE;display:flex;flex-direction:column;justify-content:space-evenly}
#article .menubar{width:1000px; margin: 0 auto;}
#article .menubar ul{width:1000px;height:80px; display:flex;justify-content:space-evenly;align-items:center; 
                    border:1px solid #e6e6e6;border-radius:50px;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;}
#article .menubar ul li{border-bottom:3px solid #e6e6e6;font-family: 'HakgyoansimWoojuR';font-size:22px;text-align:center;}

#article .artice_content{width:1800px;height:900px; margin:0 auto;display:flex;justify-content:space-evenly;}
#article .artice_content .artice_content_sub{margin:200px 0;width:800px;}
#article .artice_content .artice_content_sub h1{font-family: 'HakgyoansimWoojuR';text-align:right;font-size:80px;}
#article .artice_content .artice_content_sub h3{font-family: 'HakgyoansimWoojuR';}

#article .artice_content .map_img{width:820px;height:910px;position: relative;margin:50px 0;}
#article .artice_content .map_img > img{width:820px;}



#article .artice_content .place{width:30px;position:absolute;}
#article .artice_content .place:hover{animation: motion 0.5s linear 0s infinite alternate; margin-top: 0;}
#article .artice_content .place:nth-last-of-type(1){left:130px;top:200px}
#article .artice_content .place:nth-last-of-type(2){left:202px;top:50px}
#article .artice_content .place:nth-last-of-type(3){left:336px;top:370px}
#article .artice_content .place:nth-last-of-type(4){left:245px;top:545px}
#article .artice_content .place:nth-last-of-type(5){left:90px;top:648px}
#article .artice_content .place:nth-last-of-type(6){left:597px;top:488px}
#article .artice_content .place:nth-last-of-type(7){left:500px;top:120px}
#article .artice_content .place:nth-last-of-type(8){left:369px;top:28px}
#article .artice_content .place:nth-last-of-type(9){left:255px;top:820px}

.artice_content3{width:100%;display:none;}
.artice_content3 .boxs{width:100%;height:900px; display:flex;flex-direction:column;justify-content:space-evenly;}
.artice_content3 .boxs1{width:2500px;display:flex;margin:0 auto; justify-content:space-evenly;}
.artice_content3 .boxs2{width:2500px;display:flex;margin:0 auto; justify-content:space-evenly;}
.artice_content3 .box{border:1px solid;width:500px;height:300px;}

.artice_content1{width:100%;display:none;}
.artice_content1 .content3_boxs{width:1900px;height:900px;margin:0 auto;display:flex;flex-flow : row wrap; justify-content:space-around;align-items:center;}
.artice_content1 .content3_boxs .content3_box{width:450px;height:400px;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;display:flex;flex-direction:column;justify-content:space-around;align-items:center;}
.artice_content1 .content3_boxs .content3_box h1{font-family: 'HakgyoansimWoojuR';}
.artice_content1 .content3_boxs .content3_box img{width:400px;height:300px;}

.artice_content2{width:100%;display:none;}
.artice_content2 .content2_boxs{width:1900px;;display:flex;justify-content:space-around;}
.artice_content2 .content2_box{width:450px;height:800px;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;display:flex;flex-direction:column;align-items:center;justify-content:space-around;}
.artice_content2 .content2_box img{width:430px;height:320px;}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 10px;
    }
  }