@charset "utf-8";

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }

@media screen and (max-width:767px) {

    #wrap{width:100%;position:relative;}
    header{width:100%;height:125px;position:fixed;z-index:5;}
    header .contents{width:100%;height:80px;margin:0 auto;display:flex;justify-content:space-between;align-items:center;}
    header .contents img{width:150px;margin:0 10px;}
    header .contents img:nth-of-type(2){width:34px;}
    header .contents .nav{width:700px;display:none;}
    header .contents .nav>ul{width:700px;display:flex;justify-content:center;align-items:center}
    header .contents .nav>ul>li{font-family: 'HakgyoansimWoojuR';font-weight:bold;font-size:17px;position:relative;padding:0 0 0 30px;}
    header .contents .nav ul li ul{width:500px; position:absolute;opacity:0;transition:0.3s 0.2s;display:flex;}
    header .contents .nav>ul>li>ul>li{width:100px;height:100px;text-align:center; padding:40px 0px; border:1px solid #e6e6e6;border-radius:15px; white-space:nowrap;margin:40px 20px 0 0;font-size:14px;font-weight: lighter;}
    header .contents .nav>ul>li>ul>li:hover{background-color:#e6e6e6;}
    header .contents .nav>ul>li .search{width:30px;height:30px;border-radius:70%;overflow:hidden;
        background-color:#fff;background-image:url("../img/search_3.jpg");background-size:cover;box-shadow:5px 5px 5px #EAEAEA;}

    header .contents.active{background-color:#fff;}

    section{width:100%;height:85.1vw;position:relative;overflow:hidden;}
    .section_content_box{width:200%;height:100%;}
    .section_content_box_1{width:50%;height:85.1vw;float:left;}
    .section_content_box_1 .main_img{width:100%;height:85.1vw;}
    .section_content_box_1 .main_img img{width:100%;height:100%;}   

    section .contents{width:100%;height:100%;display:flex;justify-content:center;align-items:center;position:absolute;top:0;}
    section .explain_box{width:55vw;position:absolute;bottom:20vw;left:8vw; z-index:3;}
    section .explain_box h3{font-size:20px;font-family: 'HakgyoansimWoojuR';}
    section .explain_box h1{font-size:7.5vw;font-family: 'KBO-Dia-Gothic_bold';text-shadow: 4px 6px 6px hsl(0deg 0% 0% / 0.25);}
    section .explain_box h1 {color:#fff;}
    section .explain_box p{font-family: 'HakgyoansimWoojuR';padding:0 0 0 50px;}
    section .explain_box p{display:none;}
    section .content_img{width:52vw;height:52vw;border-radius:70%;overflow:hidden;position:absolute;right:13vw;top:10vw;}
    section .content_img img {width:100%;height:100%; object-fit: cover;}
    section .back img{width:17px;position:absolute;top:300px;z-index:3;left:10px;}
    section .next img{width:17px;position:absolute;top:300px;right:10px;z-index:3;}


    
    #article{width:100%;background-color:#FFF9EE;}
    #article .art_content{width:100%;height:100%;margin:0 auto;position:relative;}
    #article .art_content > img{width:80vw;position:absolute;left:0;top:2vw;}
    #article .art_content .circle{display:none; width:500px;height:300px;position:absolute;right:-8vw;border-radius:150px;background:linear-gradient(to right, #B6FA8D, #FFE549);transform: rotate( 55deg );}
    #article .art_content .cont_txt{display:none; position:absolute;top:80px;right:-1vw;font-family: 'NanumBarunGothic';}
    #article .art_content .cont_txt h1:nth-of-type(2){font-weight:lighter;}
    #article .art_content .cont_txt h1:nth-of-type(3){font-size:100px;}
    #article .art_content .main_txt{width:100%;height:75vw;line-height:18vw;padding-top:30vw;text-align: center;}
    #article .art_content .main_txt h1:nth-of-type(1){font-size:42vw;;color:#F4EFE6;}
    #article .art_content .main_txt h1:nth-of-type(2){font-size:30vw;-webkit-text-stroke: 1px #E5E0D6;color:transparent;padding-left:50px;}
    #article .art_content .menubar{width:60%;height:60px;background-color:#fff;border-radius:50px;margin:8vw auto;margin-bottom:50px;box-shadow: 4px 6px 6px hsl(0deg 0% 0% / 0.1);}
    #article .art_content .menubar ul{height:100%;height:100%; display:flex;justify-content:space-evenly;align-items:center;font-family: 'NanumBarunGothic';font-size:2.3vw;}
    #article .art_content .menubar ul li{width:25%;height:100%; text-align:center;border-radius:50px;display:flex;justify-content:center;align-items:center;}
    .port_back{background-color:#ed9706;color:#fff;}
    #article .art_content .cont_box {width:100%;height:650px;}
    #article .art_content .cont_boxs{width:95%;height:100%;font-family: 'NanumBarunGothic';display:flex;flex-wrap:wrap; justify-content:space-evenly;margin:0 auto;}
    #article .art_content .cont_boxs:not(:first-of-type){display:none;}
    #article .art_content .cont_box .conts{width:40%;height:300px;display:flex;flex-wrap:wrap; justify-content:space-evenly;align-items:center;position:relative;}
    #article .art_content .cont_box .conts h2{display:none;}
    #article .art_content .cont_box .conts > img{width:80px;}
    #article .art_content .cont_box .conts .menu_conts_txt{height:100px; display:flex;flex-direction:column;justify-content:space-between;}
    #article .art_content .cont_box .conts .menu_conts_txt h1{font-size:20px;}
    #article .art_content .cont_box .conts .plus_icon{width:30px;height:30px;background-color: #ed9706;border-radius:70%;font-size:40px;text-align:center;line-height:45px;background-image:url("../img/plus.png");background-size:20px;background-repeat:no-repeat;background-position:center;position:absolute;right:0;top:160px;}
    
    
    #article2{width:100%;height:225vw; background-color:#FFF9EE;}
    #article2 .article2_contents{width:100%;height:55vw;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
    #article2 .article2_contents .article2_content{width:25%;height:70%;display:flex;flex-direction:column;align-items:center;}
    #article2 .article2_contents .article2_content:nth-of-type(2n){align-self:end;}
    #article2 .article2_contents .article2_content_imgs{width:23vw;height:23vw;border-radius:70%;overflow:hidden;position:relative;display:flex;justify-content:center;align-items:center;transition: all 0.2s;}
    #article2 .article2_contents .article2_content_imgs h1{color:#fff;font-family: 'NanumBarunGothic';font-size:3.2vw;font-weight:lighter;position:absolute;}
    #article2 .article2_contents .addback{background-color:#39A28B;position:absolute;width:100%;height:100%;opacity:0.7;display:none;}
    
    
    #article2 .article2_contents .article2_content > p{font-family: 'NanumBarunGothic';font-size:12px;padding:10px 0 0 0;}
    #article2 .article2_contents .article2_content > h3{font-family: 'NanumBarunGothic';font-size:16px;}
    
    #article2 .article2_content:nth-of-type(1) .article2_content_imgs{background-image:url(../img/riding.jpg);background-size:cover;background-position:center;}
    #article2 .article2_content:nth-of-type(2) .article2_content_imgs{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}
    #article2 .article2_content:nth-of-type(3) .article2_content_imgs{background-image:url(../img/bestshot.jpg);background-size:cover; background-position:center;}
    #article2 .article2_content:nth-of-type(4) .article2_content_imgs{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}
    
    
    
    #article2 .article2_contents2{width:100%;height:26vw;margin:0 auto;}
    #article2 .article2_contents2 .article2_contents2_box{width:90%;height:100%;display:flex;justify-content:center;margin:0 auto;}
    #article2 .article2_contents2 .article2_contents2_box .article2_article2_content{width:100%;height:100%; display:flex;flex-direction:column;align-items:center;justify-content:space-evenly;font-family: 'NanumBarunGothic';font-size:2.2vw;color:#464646;}
    #article2 .article2_contents2 .contents_circle{width:13vw;height:13vw;overflow:hidden;background-size:50px;background-repeat:no-repeat;background-position:center;border-radius:70%;box-shadow: 6px 8px 8px hsl(0deg 0% 0% / 0.2);background-color:#fff;display:flex;justify-content:center;align-items:center;}
    #article2 .article2_contents2 .contents_circle img{width:50px;height:50px;transition: all 0.2s;}
    
    #article2 .article2_contents3{width:100%;height:145vw;margin:0 auto;}
    #article2 .article2_contents3 .article2_contents3_box{width:100%;height:100%;display:flex;flex-direction:column;justify-content:space-evenly;margin:0 auto;align-items:center;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs{width:90%;height:40vw;border-radius:30px;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs:nth-last-of-type(3){background-color:#F6E9D3;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs:nth-last-of-type(2){background-color:#FEF8ED;border: 1px solid #E5E0D6;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs:nth-last-of-type(1){background-color:#E5ECE6;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs .box_contents{height:35vw; padding:3vw 7vw;display:flex;flex-direction:column;justify-content:space-evenly;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs .box_contents h2{font-size:3vw;}
    
    
    
    footer{width:100%;height:200px;background-color:#FFF9EE;display:flex;align-items:flex-end;}
    footer .footer_box{width:1500px;height:200px; margin:0 auto;background-color:#F7F1E7;border-top-left-radius:30px;border-top-right-radius:30px;}
    footer .box_contents{padding:40px;}
    footer .box_contents p{line-height:20px;padding:15px 0;}

}
@media screen and (min-width:768px) and (max-width:1399px) {
    #wrap{width:100%;position:relative;}
    header{width:100%;height:125px;position:fixed;z-index:5;top:0;}
    header .contents{width:100%;height:125px;margin:0 auto;display:flex;align-items:center;}
    header .contents img{width:200px;}
    header .contents img:nth-of-type(2){display:none;}
    header .contents .nav{width:100%;}
    header .contents .nav>ul{width:100%;display:flex;justify-content:space-evenly;align-items:center}
    header .contents .nav>ul>li{font-family: 'HakgyoansimWoojuR';font-weight:bold;font-size:2vw;position:relative;;}
    header .contents .nav ul li ul{width:500px; position:absolute;opacity:0;transition:0.3s 0.2s;display:flex;}
    header .contents .nav>ul>li>ul>li{width:100px;height:100px;text-align:center; padding:40px 0px; border:1px solid #e6e6e6;border-radius:15px; white-space:nowrap;margin:40px 20px 0 0;font-size:14px;font-weight: lighter;}
    header .contents .nav>ul>li>ul>li:hover{background-color:#e6e6e6;}
    header .contents .nav>ul>li .search{width:45px;height:45px;border-radius:70%;overflow:hidden;
        background-color:#fff;background-image:url("../img/search_3.jpg");background-size:cover;box-shadow:5px 5px 5px #EAEAEA;}
    header.active{background-color:#fff;}

    section{width:100%;height:800px;position:relative;overflow:hidden;}
    .section_content_box{width:200%;height:100%;}
    .section_content_box_1{width:50%;height:800px;float:left;}
    .section_content_box_1 .main_img{width:100%;height:800px;}
    .section_content_box_1 .main_img img{width:100%;height:100%;}
    section .contents{width:100%;height:800px;margin:0 auto;display:flex;justify-content:center;align-items:center;position:absolute;top:0;}
    section .explain_box{width:400px; display:flex;flex-direction:column;}
    section .explain_box h3{text-align:right;}
    section .explain_box h1{font-size:50px;text-align:right;font-family: 'KBO-Dia-Gothic_bold'}
    section .explain_box p{font-family: 'HakgyoansimWoojuR';padding:0 0 0 50px;}
    section .explain_box p:nth-of-type(1){display:none;}
    section .content_img{width:450px;height:450px;border-radius:70%;overflow:hidden;}
    section .content_img img {width:450px;height:450px; object-fit: cover;}
    section .back img{width:10px;height:20px;position:absolute;top:400px;z-index:3;left:10px;}
    section .next img{width:10px;height:20px;position:absolute;top:400px;right:10px;z-index:3;}

    #article{width:100%;background-color:#FFF9EE;}
    #article .art_content{width:100%;height:100%;margin:0 auto;position:relative;}
    #article .art_content > img{width:500px;position:absolute;left:30px;top:20px;}
    #article .art_content .circle{display:none; width:500px;height:300px;position:absolute;right:-8vw;border-radius:150px;background:linear-gradient(to right, #B6FA8D, #FFE549);transform: rotate( 55deg );}
    #article .art_content .cont_txt{display:none; position:absolute;top:80px;right:-1vw;font-family: 'NanumBarunGothic';}
    #article .art_content .cont_txt h1:nth-of-type(2){font-weight:lighter;}
    #article .art_content .cont_txt h1:nth-of-type(3){font-size:100px;}
    #article .art_content .main_txt{width:100%;height:500px;line-height:150px;padding-top:200px;text-align: center;}
    #article .art_content .main_txt h1:nth-of-type(1){font-size:300px;;color:#F4EFE6;}
    #article .art_content .main_txt h1:nth-of-type(2){font-size:200px;-webkit-text-stroke: 1px #E5E0D6;color:transparent;padding-left:50px;}
    #article .art_content .menubar{width:420px;height:60px;background-color:#fff;border-radius:50px;margin:80px auto;margin-bottom:50px;box-shadow: 4px 6px 6px hsl(0deg 0% 0% / 0.1);}
    #article .art_content .menubar ul{height:100%;height:100%; display:flex;justify-content:space-evenly;align-items:center;font-family: 'NanumBarunGothic';}
    #article .art_content .menubar ul li{width:25%;height:100%; text-align:center;border-radius:50px;display:flex;justify-content:center;align-items:center;}
    .port_back{background-color:#ed9706;color:#fff;}
    #article .art_content .cont_box {width:100%;height:800px;}
    #article .art_content .cont_boxs{width:80%;height:100%;font-family: 'NanumBarunGothic';display:flex;flex-wrap:wrap; justify-content:space-evenly;margin:0 auto;}
    #article .art_content .cont_boxs:not(:first-of-type){display:none;}
    #article .art_content .cont_box .conts{width:40%;height:400px;display:flex;flex-wrap:wrap; justify-content:space-evenly;align-items:center;position:relative;}
    #article .art_content .cont_box .conts h2{display:none;}
    #article .art_content .cont_box .conts > img{width:100px;}
    #article .art_content .cont_box .conts .menu_conts_txt{height:100px; display:flex;flex-direction:column;justify-content:space-between;}
    #article .art_content .cont_box .conts .menu_conts_txt h1{font-size:2.2vw;}
    #article .art_content .cont_box .conts .plus_icon{width:4vw;height:4vw;background-color: #ed9706;border-radius:70%;font-size:40px;text-align:center;line-height:45px;background-image:url("../img/plus.png");background-size:25px;background-repeat:no-repeat;background-position:center;position:absolute;right:0;top:240px;}
    
    
    #article2{width:100%;height:1900px; background-color:#FFF9EE;}
    #article2 .article2_contents{width:100%;height:500px;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
    #article2 .article2_contents .article2_content{width:25%;height:70%;display:flex;flex-direction:column;align-items:center;}
    #article2 .article2_contents .article2_content:nth-of-type(2n){align-self:end;}
    #article2 .article2_contents .article2_content_imgs{width:190px;height:190px;border-radius:70%;overflow:hidden;position:relative;display:flex;justify-content:center;align-items:center;transition: all 0.2s;}
    #article2 .article2_contents .article2_content_imgs h1{color:#fff;font-family: 'NanumBarunGothic';font-size:23px;font-weight:lighter;position:absolute;}
    #article2 .article2_contents .addback{background-color:#39A28B;position:absolute;width:100%;height:100%;opacity:0.7;display:none;}
    
    
    #article2 .article2_contents .article2_content > p{font-family: 'NanumBarunGothic';font-size:19px;padding:10px 0 0 0;}
    #article2 .article2_contents .article2_content > h3{font-family: 'NanumBarunGothic';font-size:20px;}
    
    #article2 .article2_content:nth-of-type(1) .article2_content_imgs{background-image:url(../img/riding.jpg);background-size:cover;background-position:center;}
    #article2 .article2_content:nth-of-type(2) .article2_content_imgs{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}
    #article2 .article2_content:nth-of-type(3) .article2_content_imgs{background-image:url(../img/bestshot.jpg);background-size:cover; background-position:center;}
    #article2 .article2_content:nth-of-type(4) .article2_content_imgs{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}
    
    
    
    #article2 .article2_contents2{width:100%;height:200px;margin:0 auto;}
    #article2 .article2_contents2 .article2_contents2_box{width:90%;height:100%;display:flex;justify-content:center;margin:0 auto;}
    #article2 .article2_contents2 .article2_contents2_box .article2_article2_content{width:100%;height:100%; display:flex;flex-direction:column;align-items:center;justify-content:space-evenly;font-family: 'NanumBarunGothic';font-size:16px;color:#464646;}
    #article2 .article2_contents2 .contents_circle{width:80px;height:80px;overflow:hidden;background-size:50px;background-repeat:no-repeat;background-position:center;border-radius:70%;box-shadow: 6px 8px 8px hsl(0deg 0% 0% / 0.2);background-color:#fff;display:flex;justify-content:center;align-items:center;}
    #article2 .article2_contents2 .contents_circle img{width:50px;height:50px;transition: all 0.2s;}
    
    #article2 .article2_contents3{width:100%;height:1100px;margin:0 auto;}
    #article2 .article2_contents3 .article2_contents3_box{width:500px;height:100%;display:flex;flex-direction:column;justify-content:space-evenly;margin:0 auto;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs{width:100%;height:300px;border-radius:30px;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs:nth-last-of-type(3){background-color:#F6E9D3;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs:nth-last-of-type(2){background-color:#FEF8ED;border: 1px solid #E5E0D6;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs:nth-last-of-type(1){background-color:#E5ECE6;}
    #article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs .box_contents{height:250px; padding:40px;display:flex;flex-direction:column;justify-content:space-around;}
    
    
    footer{width:100%;height:200px;background-color:#FFF9EE;display:flex;align-items:flex-end;}
    footer .footer_box{width:1500px;height:200px; margin:0 auto;background-color:#F7F1E7;border-top-left-radius:30px;border-top-right-radius:30px;}
    footer .box_contents{padding:40px;}
    footer .box_contents p{line-height:20px;padding:15px 0;}
    
   


}

@media screen and (min-width:1400px) {
#wrap{width:100%;position:relative;overflow:hidden;}

header{width:100%;height:125px;position:fixed;z-index:5;}
header .contents{width:1400px;height:125px;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
header .contents img{width:250px;height:55px;}
header .contents .menu_img{display:none;}
header .contents .nav{width:100%;padding-right:15px;}
header .contents .nav>ul{width:100%;display:flex;justify-content:flex-end;align-items:center;}
header .contents .nav>ul>li{font-family: 'HakgyoansimWoojuR';font-weight:bold;font-size:25px;position:relative;margin-left:70px;}
header .contents .nav ul li ul{width:1200px; position:absolute;opacity:0;transition:0.3s 0.2s;display:flex;}
header .contents .nav>ul>li>ul>li{width:120px;height:120px;text-align:center; padding:50px 0px; border:1px solid #e6e6e6;border-radius:15px; white-space:nowrap;margin:40px 20px 0 0;font-size:18px;font-weight: lighter;}
header .contents .nav>ul>li>ul>li:hover{background-color:#e6e6e6;}
header .contents .nav>ul>li .search{width:50px;height:50px;border-radius:70%;overflow:hidden;
                                    background-color:#fff;background-image:url("../img/search_3.jpg");background-size:cover;box-shadow: 4px 6px 6px hsl(0deg 0% 0% / 0.15);}
header.active{background-color:#fff;}



section{width:100%;height:1100px;position:relative;}
.section_content_box{width:200%;height:100%;}
.section_content_box_1{width:50%;height:1100px;float:left;}
.section_content_box_1 .main_img{width:100%;height:1100px;}
.section_content_box_1 .main_img img{width:100%;height:100%;}
section .contents{width:100%;height:1100px;display:flex;justify-content:center;align-items:center;position:absolute;top:0;}
section .explain_box{margin:10px;}
section .explain_box h1{font-size:80px;font-family: 'KBO-Dia-Gothic_bold'}
section .content_img{width:600px;height:600px;border-radius:70%;overflow:hidden;}
section .content_img img {width:100%;height:100%; object-fit: cover;}
section .back img{width:20px;height:35px;position:absolute;top:500px;z-index:3;left:10px;}
section .next img{width:20px;height:35px;position:absolute;top:500px;right:10px;z-index:3;}


#article{width:100%;height:1200px;background-color:#FFF9EE;}
#article .art_content{width:1400px;height:100%;margin:0 auto;position:relative;}
#article .art_content > img{width:500px;position:absolute;left:30px;top:20px;}
#article .art_content .circle{width:500px;height:300px;position:absolute;right:-8vw;border-radius:150px;background:linear-gradient(to right, #B6FA8D, #FFE549);transform: rotate( 55deg );}
#article .art_content .cont_txt{position:absolute;top:80px;right:-1vw;font-family: 'NanumBarunGothic';}
#article .art_content .cont_txt h1:nth-of-type(2){font-weight:lighter;}
#article .art_content .cont_txt h1:nth-of-type(3){font-size:100px;}
#article .art_content .main_txt{width:100%;height:500px;line-height:150px;padding-top:200px;text-align: center;}
#article .art_content .main_txt h1:nth-of-type(1){font-size:300px;;color:#F4EFE6;}
#article .art_content .main_txt h1:nth-of-type(2){font-size:200px;-webkit-text-stroke: 1px #E5E0D6;color:transparent;padding-left:50px;}
#article .art_content .menubar{width:30%;height:60px;background-color:#fff;border-radius:50px;margin:80px auto;box-shadow: 4px 6px 6px hsl(0deg 0% 0% / 0.1);}
#article .art_content .menubar ul{height:100%;height:100%; display:flex;justify-content:space-evenly;align-items:center;font-family: 'NanumBarunGothic';}
#article .art_content .menubar ul li{width:25%;height:100%; text-align:center;border-radius:50px;display:flex;justify-content:center;align-items:center;}
.port_back{background-color:#ed9706;color:#fff;}
#article .art_content .cont_boxs{width:100%;height:400px;font-family: 'NanumBarunGothic';display:flex;justify-content:space-evenly;}
#article .art_content .cont_boxs:not(:first-of-type){display:none;}
#article .art_content .cont_box .conts{width:20%;height:100%;display:flex;flex-direction:column;justify-content:space-evenly;}
#article .art_content .cont_box .conts > img{width:100px;}
#article .art_content .cont_box .conts .menu_conts_txt{height:100px; display:flex;flex-direction:column;justify-content:space-between;}
#article .art_content .cont_box .conts .menu_conts_txt h1{font-size:27px;}
#article .art_content .cont_box .conts .plus_icon{width:45px;height:45px;background-color: #ed9706;border-radius:70%;font-size:40px;text-align:center;line-height:45px;background-image:url("../img/plus.png");background-size:25px;background-repeat:no-repeat;background-position:center;}


#article2{width:100%;height:1200px; background-color:#FFF9EE;}
#article2 .article2_contents{width:1400px;height:600px;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
#article2 .article2_contents .article2_content{width:500px;height:600px; display:flex;flex-direction:column;align-items:center;}
#article2 .article2_contents .article2_content:nth-of-type(2){margin-top:200px;}
#article2 .article2_contents .article2_content_imgs{width:260px;height:260px;border-radius:70%;overflow:hidden;position:relative;display:flex;justify-content:center;align-items:center;transition: all 0.4s;}
#article2 .article2_contents .article2_content_imgs h1{color:#fff;font-family: 'NanumBarunGothic';font-size:30px;font-weight:lighter;position:absolute;}
#article2 .article2_contents .addback{background-color:#39A28B;position:absolute;width:100%;height:100%;opacity:0.7;display:none;}


#article2 .article2_contents .article2_content > p{font-family: 'NanumBarunGothic';font-size:19px;padding:10px 0 0 0;}
#article2 .article2_contents .article2_content > h3{font-family: 'NanumBarunGothic';font-size:25px;}

#article2 .article2_content:nth-of-type(1) .article2_content_imgs{background-image:url(../img/riding.jpg);background-size:cover;background-position:center;}
#article2 .article2_content:nth-of-type(2) .article2_content_imgs{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}
#article2 .article2_content:nth-of-type(3) .article2_content_imgs{background-image:url(../img/bestshot.jpg);background-size:cover; background-position:center;}
#article2 .article2_content:nth-of-type(4) .article2_content_imgs{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}



#article2 .article2_contents2{width:1400px;height:200px;margin:0 auto;}
#article2 .article2_contents2 .article2_contents2_box{width:70%;height:100%; display:flex;justify-content:space-evenly;margin:0 auto;}
#article2 .article2_contents2 .article2_contents2_box .article2_article2_content{width:100%;height:70%; display:flex;flex-direction:column;align-items:center;justify-content:space-between;font-family: 'NanumBarunGothic';font-size:18px;color:#464646;}
#article2 .article2_contents2 .contents_circle{width:100px;height:100px;overflow:hidden;background-size:50px;background-repeat:no-repeat;background-position:center;border-radius:70%;box-shadow: 6px 8px 8px hsl(0deg 0% 0% / 0.2);background-color:#fff;display:flex;justify-content:center;align-items:center;}
#article2 .article2_contents2 .contents_circle img{width:50px;height:50px;transition: all 0.2s;}

#article2 .article2_contents3{width:1400px;height:350px;margin:0 auto;}
#article2 .article2_contents3 .article2_contents3_box{width:100%;height:100%;display:flex;justify-content:space-between;}
#article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs{width:400px;height:300px;border-radius:30px;}
#article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs:nth-last-of-type(3){background-color:#F6E9D3;}
#article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs:nth-last-of-type(2){background-color:#FEF8ED;border: 1px solid #E5E0D6;}
#article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs:nth-last-of-type(1){background-color:#E5ECE6;}
#article2 .article2_contents3 .article2_contents3_box .article2_contents3_boxs .box_contents{height:250px; padding:40px;display:flex;flex-direction:column;justify-content:space-around;}


footer{width:100%;height:200px;background-color:#FFF9EE;display:flex;align-items:flex-end;}
footer .footer_box{width:1500px;height:200px; margin:0 auto;background-color:#F7F1E7;border-top-left-radius:30px;border-top-right-radius:30px;}
footer .box_contents{padding:40px;}
footer .box_contents p{line-height:20px;padding:15px 0;}

}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 10px;
    }
  }