@charset "utf-8";

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@media screen and (max-width:767px) {

    #wrap{width:100%;position:relative;}
    header{width:100%;height:125px;position:fixed;z-index:5;}
    header .contents{width:100%;height:80px;margin:0 auto;display:flex;justify-content:space-between;align-items:center;}
    header .contents img{width:150px;margin:0 10px;}
    header .contents img:nth-of-type(2){width:34px;}
    header .contents .nav{width:700px;display:none;}
    header .contents .nav>ul{width:700px;display:flex;justify-content:center;align-items:center}
    header .contents .nav>ul>li{font-family: 'HakgyoansimWoojuR';font-weight:bold;font-size:17px;position:relative;padding:0 0 0 30px;}
    header .contents .nav ul li ul{width:500px; position:absolute;opacity:0;transition:0.3s 0.2s;display:flex;}
    header .contents .nav>ul>li>ul>li{width:100px;height:100px;text-align:center; padding:40px 0px; border:1px solid #e6e6e6;border-radius:15px; white-space:nowrap;margin:40px 20px 0 0;font-size:14px;font-weight: lighter;}
    header .contents .nav>ul>li>ul>li:hover{background-color:#e6e6e6;}
    header .contents .nav>ul>li .search{width:30px;height:30px;border-radius:70%;overflow:hidden;
        background-color:#fff;background-image:url("../img/search_3.jpg");background-size:cover;box-shadow:5px 5px 5px #EAEAEA;}

    header .contents.active{background-color:#fff;}

    section{width:100%;height:650px;}
    .section_content_box_1{width:100%;height:650px;background-image:url("../img/1_1.jpg");background-size:cover;background-position:center;}
    .section_content_box_2{width:100%;height:650px;background-image:url("../img/2_1.jpg");background-size:cover;background-position:center;display:none;}
    section .contents{width:500px;height:650px;margin:0 auto;position:relative;}
    section .explain_box{width:400px;position:absolute;bottom:190px;left:0; z-index:3;}
    section .explain_box h3{font-size:20px;font-family: 'HakgyoansimWoojuR';}
    section .explain_box h1{font-size:50px;font-family: 'KBO-Dia-Gothic_bold';text-shadow: 4px 6px 6px hsl(0deg 0% 0% / 0.25);}
    section .explain_box h1 span{color:#fff;}
    section .explain_box p{font-family: 'HakgyoansimWoojuR';padding:0 0 0 50px;}
    section .explain_box p{display:none;}
    section .content_img{width:360px;height:360px;border-radius:70%;overflow:hidden;position:absolute;top:90px;right:0;z-index:1;}
    section .content_img img {width:360px;height:360px; object-fit: cover;}
    section .back img{width:17px;position:absolute;top:300px;z-index:3;left:10px;}
    section .next img{width:17px;position:absolute;top:300px;right:10px;z-index:3;}


    
    #article{width:100%;height:700px;background-color:#FFF9EE;display:flex;flex-direction:column;align-items:center;justify-content:space-evenly;}
    #article .menubar{width:500px; margin: 0 auto;}
    #article .menubar ul{width:500px;height:40px; display:flex;justify-content:space-evenly;align-items:center; 
        border:1px solid #e6e6e6;border-radius:50px;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;}
    #article .menubar ul li{border-bottom:3px solid #e6e6e6;font-family: 'HakgyoansimWoojuR';font-size:14px;text-align:center;}
    #article .artice_content{width:700px;height:600px; margin:0 auto;display:flex;flex-direction:column; justify-content:center;align-items:center;}
    #article .artice_content .artice_content_sub{width:250px;display:flex;justify-content:center;align-items:center;}
    #article .artice_content .artice_content_sub .region_num{width:25px;height:25px;margin:0 10px; background-color:blue;border-radius:70%;color:#fff;font-size:13px;text-align:center;padding:3px 0;display:none;}
    #article .artice_content .artice_content_sub h1{font-family:'HakgyoansimWoojuR';font-size:23px;}
    #article .artice_content .artice_content_sub h3{display:none;}
    #article .artice_content .map_img{width:300px; position: relative;margin:20px 0 0 50px}
    #article .artice_content .map_img > img{width:300px;}
    
    #article .artice_content .place{width:20px;position:absolute;}
    #article .artice_content .place:hover{animation: motion 0.5s linear 0s infinite alternate; margin-top: 0;}
    #article .artice_content .place:nth-last-of-type(1){left:10px;top:95px}
    #article .artice_content .place:nth-last-of-type(2){left:62px;top:20px}
    #article .artice_content .place:nth-last-of-type(3){left:127px;top:207px}
    #article .artice_content .place:nth-last-of-type(4){left:69px;top:276px}
    #article .artice_content .place:nth-last-of-type(5){left:-9px;top:336px}
    #article .artice_content .place:nth-last-of-type(6){left:260px;top:243px}
    #article .artice_content .place:nth-last-of-type(7){left:210px;top:42px}
    #article .artice_content .place:nth-last-of-type(8){left:133px;top:2px}
    #article .artice_content .place:nth-last-of-type(9){left:85px;top:422px}

    .artice_content1{width:100%;display:none;height:600px;}
    .artice_content1 .content3_boxs{width:100%;margin:0 auto;display:flex;flex-flow : row wrap; justify-content:space-evenly;align-items:center;}
    .artice_content1 .content3_boxs .content3_box{width:300px;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;display:flex;flex-direction:column;justify-content:space-around;align-items: center;}
    .artice_content1 .content3_boxs .content3_box:nth-of-type(2n){display:none;}
    .artice_content1 .content3_boxs .content3_box h1{font-family: 'HakgyoansimWoojuR';font-size:20px;}
    .artice_content1 .content3_boxs .content3_box img{width:300px;height:250px;}
    
    .artice_content2{width:100%;display:none;height:600px;}
    .artice_content2 .content2_boxs{width:100%;display:flex;justify-content:space-evenly;flex-flow : row wrap;margin:0 auto;align-content:space-evenly;}
    .artice_content2 .content2_box{width:500px;height:120px; background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;display:flex;flex-direction:column;align-items:center;justify-content:space-around;margin:10px 0;}
    .artice_content2 .content2_box img{width:390px;height:240px;display:none;}
    .artice_content2 .content2_box h2{font-size:18px;}
    .artice_content2 .content2_box P:nth-of-type(1){display:none;}
    
    .artice_content3{width:100%;display:none;height:600px;}
    .artice_content3 .boxs{width:600px;height:450px; margin:0 auto;display:flex;flex-direction:column;justify-content:space-evenly;}
    .artice_content3 .boxs1{width:100%;display:flex;}
    .artice_content3 .boxs2{width:100%;display:flex;}
    .artice_content3 .box{border:1px solid;width:300px;height:190px;}
    .artice_content3 .box iframe{width:300px;height:190px;}
    .artice_content3 .box:nth-of-type(2){display:none;}
    .artice_content3 .box:nth-of-type(3){display:none;}
    .artice_content3 .box:nth-of-type(4){display:none;}

    #article2{width:100%;height:600px;background-color:#FFF9EE;}
    #article2 .article2_contents{width:100%;height:600px;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
    #article2 .article2_contents .article2_content{width:300px;display:flex;flex-direction:column;align-items:center;}
    #article2 .article2_contents .article2_content_imgs{width:150px;height:150px;border-radius:70%;overflow:hidden;}
    #article2 .article2_contents .article2_content_imgs h1{color:#fff;font-family:'HakgyoansimWoojuR';text-align:center;padding:80px 0;font-size:18px;}
    #article2 .article2_contents .article2_content > p{font-family: 'HakgyoansimWoojuR';font-size:15px;padding:10px 0 0 0;}
    #article2 .article2_contents .article2_content > h3{font-family: 'HakgyoansimWoojuR';}

    #article2 .article2_content:nth-of-type(1) div{background-image:url(../img/riding.jpg);background-size:cover;background-position:center;}
    #article2 .article2_content:nth-of-type(2) div{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}
    #article2 .article2_content:nth-of-type(3) div{background-image:url(../img/bestshot.jpg);background-size:cover; background-position:center;}
    #article2 .article2_content:nth-of-type(4) div{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}

    #article2 .article2_content:nth-child(2n) div{margin:100px 0 0 0;}


    footer{width:100%;height:200px;background-color:#FFF9EE;display:flex;align-items:flex-end;}
    footer .footer_box{width:100%;height:200px; margin:0 auto;background-color:#F7F1E7;border-top-left-radius:30px;border-top-right-radius:30px;}
    footer .box_contents{padding:40px;}
    footer .box_contents p{line-height:20px;padding:15px 0;}

}
@media screen and (min-width:768px) and (max-width:1099px) {
    #wrap{width:100%;position:relative;}
    header{width:100%;height:125px;position:fixed;z-index:5;}
    header .contents{width:100%;height:100px;margin:0 auto;display:flex;justify-content:center;align-items:center;}
    header .contents img{width:200px;}
    header .contents img:nth-of-type(2){display:none;}
    header .contents .nav{width:700px;}
    header .contents .nav>ul{width:700px;display:flex;justify-content:center;align-items:center}
    header .contents .nav>ul>li{font-family: 'HakgyoansimWoojuR';font-weight:bold;font-size:20px;position:relative;padding:0 0 0 30px;}
    header .contents .nav ul li ul{width:500px; position:absolute;opacity:0;transition:0.3s 0.2s;display:flex;}
    header .contents .nav>ul>li>ul>li{width:100px;height:100px;text-align:center; padding:40px 0px; border:1px solid #e6e6e6;border-radius:15px; white-space:nowrap;margin:40px 20px 0 0;font-size:14px;font-weight: lighter;}
    header .contents .nav>ul>li>ul>li:hover{background-color:#e6e6e6;}
    header .contents .nav>ul>li .search{width:30px;height:30px;border-radius:70%;overflow:hidden;
        background-color:#fff;background-image:url("../img/search_3.jpg");background-size:cover;box-shadow:5px 5px 5px #EAEAEA;}

    header.active{background-color:#fff;}

    section{width:100%;height:800px;}
    .section_content_box_1{width:100%;height:800px;background-image:url("../img/1_1.jpg");background-size:cover;background-position:center;}
    .section_content_box_2{width:100%;height:800px;background-image:url("../img/2_1.jpg");background-size:cover;background-position:center;display:none;}
    section .contents{width:100%;height:800px;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
    section .explain_box{width:400px; display:flex;flex-direction:column;}
    section .explain_box h3{text-align:right;}
    section .explain_box h1{font-size:50px;text-align:right;font-family: 'KBO-Dia-Gothic_bold'}
    section .explain_box p{font-family: 'HakgyoansimWoojuR';padding:0 0 0 50px;}
    section .explain_box p:nth-of-type(1){display:none;}
    section .content_img{width:450px;height:450px;border-radius:70%;overflow:hidden;}
    section .content_img img {width:450px;height:450px; object-fit: cover;}
    section .back img{width:10px;height:20px;position:absolute;top:400px;z-index:3;left:10px;}
    section .next img{width:10px;height:20px;position:absolute;top:400px;right:10px;z-index:3;}

    #article{width:100%;height:800px;background-color:#FFF9EE;display:flex;flex-direction:column;justify-content:space-evenly}
    #article .menubar{width:700px; margin: 0 auto;}
    #article .menubar ul{width:700px;height:50px; display:flex;justify-content:space-evenly;align-items:center; 
        border:1px solid #e6e6e6;border-radius:50px;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;}
    #article .menubar ul li{border-bottom:3px solid #e6e6e6;font-family: 'HakgyoansimWoojuR';font-size:17px;text-align:center;}
    #article .artice_content{width:100%; height:650px; margin:0 auto;display:flex;justify-content:center;}
    #article .artice_content .artice_content_sub{margin:100px 0 0 0;width:400px;}
    #article .artice_content .artice_content_sub .region_num{display:none;border-radius:30px;width:50px;font-size:20px;text-align:center; margin-bottom:10px;color:#282828;}
    #article .artice_content .artice_content_sub h1{font-family: 'HakgyoansimWoojuR';font-size:30px;width:250px;}
    #article .artice_content .artice_content_sub h3{font-family: 'HakgyoansimWoojuR';width:400px;text-align:left;line-height:30px;font-size:15px;margin:10px 0 0 0;}
    #article .artice_content .map_img{width:400px;position: relative;margin:50px 0;}
    #article .artice_content .map_img > img{width:430px;}
    
    #article .artice_content .place{width:30px;position:absolute;}
    #article .artice_content .place:hover{animation: motion 0.5s linear 0s infinite alternate; margin-top: 0;}
    #article .artice_content .place:nth-last-of-type(1){left:16px;top:144px} /*웅진*/
    #article .artice_content .place:nth-last-of-type(2){left:90px;top:30px}  /*파주*/
    #article .artice_content .place:nth-last-of-type(3){left:176px;top:281px}  /*옥천*/
    #article .artice_content .place:nth-last-of-type(4){left:102px;top:406px}  /*정읍*/
    #article .artice_content .place:nth-last-of-type(5){left:-13px;top:490px}  /*신안*/
    #article .artice_content .place:nth-last-of-type(6){left:371px;top:345px} /*경주*/
    #article .artice_content .place:nth-last-of-type(7){left:315px;top:70px} /*강릉*/
    #article .artice_content .place:nth-last-of-type(8){left:203px;top:17px}  /*화천*/
    #article .artice_content .place:nth-last-of-type(9){left:124px;top:610px} /*제주*/

    .artice_content1{width:100%;display:none;}
    .artice_content1 .content3_boxs{width:100%;height:650px;margin:0 auto;display:flex;flex-flow : row wrap; justify-content:space-evenly;align-items:center;}
    .artice_content1 .content3_boxs .content3_box{width:400px;height:320px;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;display:flex;flex-direction:column;justify-content:space-around;align-items: center;}
    .artice_content1 .content3_boxs .content3_box:nth-of-type(2n){display:none;}
    .artice_content1 .content3_boxs .content3_box h1{font-family: 'HakgyoansimWoojuR';font-size:20px;}
    .artice_content1 .content3_boxs .content3_box img{width:350px;height:250px;}
    
    .artice_content2{width:100%;display:none;}
    .artice_content2 .content2_boxs{width:100%;height:650px; display:flex;justify-content:space-evenly;flex-flow : row wrap;margin:0 auto;align-content:space-evenly;}
    .artice_content2 .content2_box{width:440px;height:320px;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;display:flex;flex-direction:column;align-items:center;justify-content:space-around;}
    .artice_content2 .content2_box img{width:390px;height:240px;}
    .artice_content2 .content2_box h2{font-size:18px;}
    .artice_content2 .content2_box P{display:none;}
    
    .artice_content3{width:100%;display:none;}
    .artice_content3 .boxs{width:900px;height:650px; display:flex;flex-direction:column;justify-content:space-evenly;margin:0 auto;}
    .artice_content3 .boxs1{width:100%;display:flex;flex-flow:wrap;justify-content:space-evenly;}
    .artice_content3 .boxs2{width:100%;display:flex;justify-content:space-evenly;}
    .artice_content3 .box{border:1px solid;width:450px;height:300px;}
    .artice_content3 .box iframe{width:450px;height:300px;}
    .artice_content3 .box:nth-of-type(2){display:none;}
    .artice_content3 .box:nth-of-type(3){display:none;}
    .artice_content3 .box:nth-of-type(4){display:none;}

    #article2{width:100%;height:1100px;background-color:#FFF9EE;}
    #article2 .article2_contents{width:100%;height:1000px;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
    #article2 .article2_contents .article2_content{width:300px;height:600px;display:flex;flex-direction:column;align-items:center;}
    #article2 .article2_contents .article2_content_imgs{width:200px;height:200px;border-radius:70%;overflow:hidden;}
    #article2 .article2_contents .article2_content > p{font-family: 'HakgyoansimWoojuR';font-size:17px;padding:10px 0 0 0;}
    #article2 .article2_contents .article2_content > h3{font-family: 'HakgyoansimWoojuR';}

    #article2 .article2_content:nth-of-type(1) div{background-image:url(../img/riding.jpg);background-size:cover;background-position:center;}
    #article2 .article2_content:nth-of-type(2) div{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}
    #article2 .article2_content:nth-of-type(3) div{background-image:url(../img/bestshot.jpg);background-size:cover; background-position:center;}
    #article2 .article2_content:nth-of-type(4) div{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}

    #article2 .article2_content:nth-child(2n) div{margin:100px 0 0 0;}
    #article2 .article2_contents h1{color:#fff;font-family:'HakgyoansimWoojuR';text-align:center;padding:110px 0;font-size:20px;}


    footer{width:100%;height:200px;background-color:#FFF9EE;display:flex;align-items:flex-end;}
    footer .footer_box{width:100%;height:200px; margin:0 auto;background-color:#F7F1E7;border-top-left-radius:30px;border-top-right-radius:30px;}
    footer .box_contents{padding:40px;}
    footer .box_contents p{line-height:20px;padding:15px 0;}
    
   


}

@media screen and (min-width:1100px) {
#wrap{width:100%;position:relative;}

#left_nav{width:70px;height:100%; background-color: #fff;position:fixed;z-index:10;box-shadow:0px 0px 5px #444;}
#left_nav ul{width:70px;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:space-evenly;font-family: 'HakgyoansimWoojuR';font-size:17px;}
#left_nav ul li:nth-last-of-type(18){border-bottom:2px solid;padding:8px;font-weight:bold;}
#left_nav ul a:hover{font-weight:bold;}

header{width:100%;height:125px;position:fixed;z-index:5;}
header .contents{width:100%;height:125px;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
header .contents img{width:250px;height:55px;}
header .contents .search{display:none;}
header .contents .nav{width:70%;}
header .contents .nav>ul{width:100%;display:flex;justify-content:space-evenly;align-items:center}
header .contents .nav>ul>li{font-family: 'HakgyoansimWoojuR';font-weight:bold;font-size:25px;position:relative;}
header .contents .nav ul li ul{width:1200px; position:absolute;opacity:0;transition:0.3s 0.2s;display:flex;}
header .contents .nav>ul>li>ul>li{width:120px;height:120px;text-align:center; padding:50px 0px; border:1px solid #e6e6e6;border-radius:15px; white-space:nowrap;margin:40px 20px 0 0;font-size:18px;font-weight: lighter;}
header .contents .nav>ul>li>ul>li:hover{background-color:#05057d;}
header .contents .nav>ul>li .search{width:50px;height:50px;border-radius:70%;overflow:hidden;
                                    background-color:#fff;background-image:url("../img/search_3.jpg");background-size:cover;box-shadow:5px 5px 5px #EAEAEA;}
header.active{background-color:#fff;}



section{width:100%;height:1100px;}
.section_content_box_1{width:100%;height:1100px;background-image:url("../img/1_1.jpg");background-size:cover;background-position:center;}
.section_content_box_2{width:100%;height:1100px;background-image:url("../img/2_1.jpg");background-size:cover;background-position:center;display:none;}
section .contents{width:100%;height:1100px;margin:0 auto;display:flex;justify-content:center;align-items:center;}
section .explain_box{margin:60px;}
section .explain_box h1{font-size:80px;font-family: 'KBO-Dia-Gothic_bold'}
section .content_img{width:600px;height:600px;border-radius:70%;overflow:hidden;}
section .content_img img {width:100%;height:100%; object-fit: cover;}
section .back img{width:20px;height:35px;position:absolute;top:500px;z-index:3;left:90px;}
section .next img{width:20px;height:35px;position:absolute;top:500px;right:60px;z-index:3;}


#article{width:100%;height:57.5vw;background-color:#FFF9EE;display:flex;flex-direction:column;justify-content:space-evenly}
#article .menubar{width:58%; margin: 0 auto;}
#article .menubar ul{width:100%;height:5vw; display:flex;justify-content:space-evenly;align-items:center; 
                    border:1px solid #e6e6e6;border-radius:50px;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;}
#article .menubar ul li{border-bottom:3px solid #e6e6e6;font-family: 'HakgyoansimWoojuR';font-size:1.4vw;text-align:center;}

#article .artice_content{width:100%;height:48vw;margin:0 auto;display:flex;justify-content:space-evenly;}
#article .artice_content .artice_content_sub{margin:200px 0 0 0;width:500px;}
#article .artice_content .artice_content_sub .region_num{display:none;border-radius:30px;width:50px;font-size:20px;text-align:center; margin-bottom:10px;color:#282828;}
#article .artice_content .artice_content_sub h1{font-family:'HakgyoansimWoojuR';font-size:50px;width:400px;}
#article .artice_content .artice_content_sub h3{font-family:'HakgyoansimWoojuR';text-align:left;padding:40px 0;line-height:40px;}
#article .artice_content .map_img{width:31.6vw;position: relative;margin:50px 0;}
#article .artice_content .map_img > img{width:31.6vw;}



#article .artice_content .place{width:1.3vw;position:absolute;}
#article .artice_content .place:hover{animation: motion 0.5s linear 0s infinite alternate; margin-top: 0;}
#article .artice_content .place:nth-last-of-type(1){left:1.5vw;top:11vw} /*옹진*/
#article .artice_content .place:nth-last-of-type(2){left:6.4vw;top:3.5vw}  /*파주*/
#article .artice_content .place:nth-last-of-type(3){left:13vw;top:21.5vw}  /*옥천*/
#article .artice_content .place:nth-last-of-type(4){left:7.9vw;top:30.5vw}  /*정읍*/
#article .artice_content .place:nth-last-of-type(5){left:-0.5vw;top:37vw}  /*신안*/
#article .artice_content .place:nth-last-of-type(6){left:27.6vw;top:27vw} /*경주*/
#article .artice_content .place:nth-last-of-type(7){left:23vw;top:6vw} /*강릉*/
#article .artice_content .place:nth-last-of-type(8){left:14vw;top:1.6vw}  /*화천*/
#article .artice_content .place:nth-last-of-type(9){left:10vw;top:46vw} /*제주*/

.artice_content3{width:100%;display:none;}
.artice_content3 .boxs{width:100%;height:48vw;display:flex;flex-direction:column;justify-content:space-evenly;}
.artice_content3 .boxs1{width:33vw;display:flex;margin:0 auto; justify-content:space-evenly;}
.artice_content3 .boxs2{width:33vw;display:flex;margin:0 auto; justify-content:space-evenly;}
.artice_content3 .box iframe{width:25vw;height:15.6vw;}
.artice_content3 .box{border:1px solid;width:25vw;height:15.6vw;}

.artice_content1{width:100%;display:none;}
.artice_content1 .content3_boxs{width:100%;height:48vw;margin:0 auto;display:flex;flex-flow : row wrap; justify-content:space-around;align-content:center;}
.artice_content1 .content3_boxs .content3_box{width:23.5vw;height:21vw;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;display:flex;flex-direction:column;justify-content:space-around;align-items:center;margin:20px 0 0 0;}
.artice_content1 .content3_boxs .content3_box h1{font-family: 'HakgyoansimWoojuR';font-size:1.7vw}
.artice_content1 .content3_boxs .content3_box img{width:21.5vw;height:15.5vw;}

.artice_content2{width:100%;display:none;}
.artice_content2 .content2_boxs{width:100%;height:48vw; display:flex;justify-content:space-around;margin:0 auto;}
.artice_content2 .content2_box{width:23.5vw;height:37vw;background-color:#fff;box-shadow:3px 3px 3px #e6e6e6;display:flex;flex-direction:column;align-items:center;justify-content:space-around;}
.artice_content2 .content2_box img{width:22vw;height:17vw;}
.artice_content2 .content2_box h2{font-size:1.2vw;}
.artice_content2 .content2_box h4{font-size:0.9vw;}
.artice_content2 .content2_box p{font-size:0.8vw;}

#article2{width:100%;height:80vw;background-color:#FFF9EE;}
#article2 .article2_contents{width:100%;height:39vw;margin:0 auto;display:flex;justify-content:space-evenly;align-items:center;}
#article2 .article2_contents .article2_content{width:20vw;height:25vw; display:flex;flex-direction:column;align-items:center;}
#article2 .article2_contents .article2_content_imgs{width:16vw;height:16vw;border-radius:70%;overflow:hidden;}
#article2 .article2_contents .article2_content_imgs h1{color:#fff;font-family: 'HakgyoansimWoojuR';text-align:center;padding:130px 0;font-size:1.7vw;}

#article2 .article2_contents .article2_content > p{font-family: 'HakgyoansimWoojuR';font-size:1.5vw;padding:10px 0 0 0;}
#article2 .article2_contents .article2_content > h3{font-family: 'HakgyoansimWoojuR';font-size:1.7vw;}

#article2 .article2_content:nth-of-type(1) div{background-image:url(../img/riding.jpg);background-size:cover;background-position:center;}
#article2 .article2_content:nth-of-type(2) div{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}
#article2 .article2_content:nth-of-type(3) div{background-image:url(../img/bestshot.jpg);background-size:cover; background-position:center;}
#article2 .article2_content:nth-of-type(4) div{background-image:url(../img/muckja.jpg);background-size:initial; background-position:center;}



#article2 .article2_contents2{width:100%;height:150px;margin:0 auto;border:1px solid;display:flex;justify-content:center;align-items:center;}
#article2 .article2_contents2 .article2_contents_boxs{width:100px;height:100px;border-radius:70%;overflow:hidden; background-color:#fff;box-shadow:3px 3px 10px #e6e6e6;margin-left:100px;}



footer{width:100%;height:200px;background-color:#FFF9EE;display:flex;align-items:flex-end;}
footer .footer_box{width:1500px;height:200px; margin:0 auto;background-color:#F7F1E7;border-top-left-radius:30px;border-top-right-radius:30px;}
footer .box_contents{padding:40px;}
footer .box_contents p{line-height:20px;padding:15px 0;}

}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 10px;
    }
  }